<div class="container pb-5">
  <h2 class="text-center">Requests</h2>

  <!-- Infocards -->
  <div class="row g-3 mb-4 mt-2">
    <div class="col-12 col-md-3">
      <sl-info-card class="flex-fill" label="Recibidas" [value]="getEstadoTotal('Recibido')" badgeClass="bg-primary"></sl-info-card>
    </div>
    <div class="col-12 col-md-3">
      <sl-info-card class="flex-fill" label="Pendientes" [value]="getEstadoTotal('Pendiente')" badgeClass="bg-warning text-dark"></sl-info-card>
    </div>
    <div class="col-12 col-md-3">
      <sl-info-card class="flex-fill" label="Aprobadas" [value]="getEstadoTotal('Aprobado')" badgeClass="bg-success"></sl-info-card>
    </div>
    <div class="col-12 col-md-3">
      <sl-info-card class="flex-fill" label="Rechazadas" [value]="getEstadoTotal('Rechazado')" badgeClass="bg-danger"></sl-info-card>
    </div>
  </div>

<div class="mb-3 d-flex justify-content-center">
  <label for="statusFilter" class="form-label me-2"></label>
  <select id="statusFilter" class="form-select w-auto" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange()">
    <option value="">Todos</option>
  <option value="Pendiente">Pendiente</option>
  <option value="Aprobado">Aprobado</option>
  <option value="Rechazado">Rechazado</option>
  <option value="Recibido">Recibido</option>
  </select>
</div>


<ul class="list-unstyled d-flex flex-column align-items-center">
  <li *ngFor="let request of requestsData" class="w-100 d-flex justify-content-center">
    <sl-request-card 
      [request]="request" 
      [building]="request.building" 
      (statusChanged)="onStatusChanged()"
      class="w-100" 
      style="max-width: 80vw; min-width: 80vw;">
    </sl-request-card>
  </li>
</ul>

<nav aria-label="Paginación de requests" class="d-flex justify-content-center mt-3">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="page === 1">
      <button class="page-link" (click)="prevPage()" [disabled]="page === 1">Anterior</button>
    </li>
    <li class="page-item disabled">
      <span class="page-link">Página {{ page }}</span>
    </li>
    <li class="page-item" [class.disabled]="requestsData.length < size">
      <button class="page-link" (click)="nextPage()" [disabled]="requestsData.length < size">Siguiente</button>
    </li>
  </ul>
</nav>

<p *ngIf="requestsData.length === 0">No hay requests disponibles.</p>
</div>
