<div *ngIf="loading">Cargando análisis de rentabilidad...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="answer">
  <h2>Análisis de Rentabilidad</h2>
  <pre>{{ answer }}</pre>
</div> 

-
{{ answer }}


<!--
NUEVO CÓDIGO ABAJO PARA SUSTITUIR LO DE ARRIBA
-->

<!-- <div class="rentabilidad-questions">
  <button
    *ngFor="let q of questions"
    (click)="askQuestion(q.userPrompt)"
    [disabled]="loading"
    class="btn btn-primary btn-sm"
  >
    {{ q.label }}
  </button>
</div>

<div *ngIf="loading">Cargando análisis de rentabilidad...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="answer">
  <h2>Análisis de Rentabilidad</h2>
  <pre>{{ answer }}</pre>
</div> -->
