<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title">Detalles</h2>
    <span class="type-chip is-building">
      🏢 Edificio
    </span>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="data.building; else noData">
      <div class="field"><span class="label">Código: </span><span class="value">{{ data.building.buildingCode }}</span></div>
      <div class="field"><span class="label">Nombre: </span><span class="value">{{ data.building.buildingName }}</span></div>
      <div class="field"><span class="label">Dirección: </span><span class="value">{{ data.building.street }}</span></div>
      <div class="field"><span class="label">Distrito: </span><span class="value">{{ data.building.district }}</span></div>
      <div class="field"><span class="label">Año: </span><span class="value">{{ data.building.yearBuilt }}</span></div>
      <div class="field"><span class="label">Plantas: </span><span class="value">{{ data.building.floorCount }}</span></div>
      <div class="field"><span class="label">Fecha alta: </span><span class="value">{{ data.building.createdDate | date:'mediumDate' }}</span></div>
    </ng-container>
    <ng-template #noData>
      <div class="field">No hay datos del edificio.</div>
    </ng-template>
  </div>
  <div class="modal-actions" style="text-align:right;">
    <button class="btn-cool-close" (click)="dialogRef.close()">
      <span class="btn-cool-close-icon">✕</span>
      <span class="btn-cool-close-text">Cerrar</span>
    </button>
  </div>
</div>
