<div class="formulario-container">
  <h2 class="text-center">Formulario de solicitud de presupuesto</h2>
<form [formGroup]="form" (ngSubmit)="enviarPeticion()" class="formulario-form">
  <h4>Solicitar presupuesto de mantenimiento</h4>
  <div>
    <label for="buildingCode">Código del edificio</label>
    <input id="buildingCode" formControlName="buildingCode" type="text" required>
  </div>
  <div>
    <label for="description">Descripción de la reforma</label>
    <textarea id="description" formControlName="description" required></textarea>
  </div>
  <button type="submit">Enviar petición</button>

  <div *ngIf="successMsg" class="success-msg">{{ successMsg }}</div>
  <div *ngIf="errorMsg && enviado" class="error-msg">{{ errorMsg }}</div>
</form>
  <button class="btn btn-secondary mb-3" routerLink="/requests">&larr; Volver al listado</button>

</div>

