<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title">Detalles</h2>
    <span class="type-chip is-apartment">
      🏠 Apartamento
    </span>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="data.apartment; else noData">
      <div class="field"><span class="label">Código: </span><span class="value">{{ data.apartment.apartmentCode }}</span></div>
      <div class="field"><span class="label">Puerta: </span><span class="value">{{ data.apartment.apartmentDoor }}</span></div>
      <div class="field"><span class="label">Piso: </span><span class="value">{{ data.apartment.apartmentFloor }}</span></div>
      <div class="field"><span class="label">Precio: </span><span class="value">{{ data.apartment.apartmentPrice | currency:'EUR':'symbol':'1.0-0' }}</span></div>
      <div class="field"><span class="label">Habitaciones: </span><span class="value">{{ data.apartment.numberOfRooms }}</span></div>
      <div class="field"><span class="label">Baños: </span><span class="value">{{ data.apartment.numberOfBathrooms }}</span></div>
      <div class="field"><span class="label">Ascensor: </span><span class="value">{{ data.apartment.hasLift ? 'Sí' : 'No' }}</span></div>
      <div class="field"><span class="label">Garaje: </span><span class="value">{{ data.apartment.hasGarage ? 'Sí' : 'No' }}</span></div>
      <div class="field"><span class="label">Fecha de alta: </span><span class="value">{{ data.apartment.createdDate | date:'mediumDate' }}</span></div>
    </ng-container>
    <ng-template #noData>
      <div class="field">No hay datos del apartamento.</div>
    </ng-template>
  </div>
  <div class="modal-actions" style="text-align:right;">
    <button class="btn-cool-close" (click)="dialogRef.close()">
      <span class="btn-cool-close-icon">✕</span>
      <span class="btn-cool-close-text">Cerrar</span>
    </button>
  </div>
</div>
