<div class="card m-2 shadow-sm bg-light" style="width: auto">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span
      >Edificio ID: <strong>{{ building?.buildingCode }}</strong></span
    >
    <span
      class="badge"
      [ngClass]="{
        'bg-success': request.statusType === 'Aprobado',
        'bg-warning text-dark': request.statusType === 'Pendiente',
        'bg-danger': request.statusType === 'Rechazado',
        'bg-primary': request.statusType === 'Recibido'
      }"
    >
      {{ request.statusType }}
    </span>
  </div>

  <div class="card-body">
    <h5 class="card-title mb-2">
      Nombre del Edificio:
      <span class="text-primary">{{ building?.buildingName || "N/A" }}</span>
    </h5>
    <p class="card-text mb-1">
      <strong>Dirección:</strong> {{ building?.street || "N/A" }}
    </p>

    <ul class="list-group list-group-flush mb-2">
      <li class="list-group-item px-0 py-1">
        <strong>Building Amount:</strong>
        {{ request.buildingAmount }}
      </li>
      <li class="list-group-item px-0 py-1">
        <strong>Maintenance Amount:</strong>
        {{ request.maintenanceAmount }}
      </li>
    </ul>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <span class="fw-bold h4 ms-2">Total Amount: {{ totalAmountText }}</span>
      <div class="d-flex gap-4">
        <ng-container *ngIf="request.statusType === 'Pendiente'">
          <button class="btn btn-outline-success w-100 mt-2"
                  (click)="aceptarRequest()"
                  [disabled]="!request.maintenanceAmount || request.maintenanceAmount <= 0">
            Aceptar
          </button>
          <button class="btn btn-outline-danger w-100 mt-2"
                  (click)="rechazarRequest()"
                  [disabled]="!request.maintenanceAmount || request.maintenanceAmount <= 0">
            Rechazar
          </button>
        </ng-container>
        <ng-container *ngIf="request.statusType === 'Recibido'">
          <a [routerLink]="['/formulario', building?.buildingCode, request.requestId]" class="btn btn-outline-warning w-100 mt-2">Solicitar Presupuesto</a>
          <sl-boton tipo="rechazar"></sl-boton>
        </ng-container>
        <!-- No buttons for 'Aprobado' o 'Rechazado' -->
      </div>
    </div>
    <div class="text-center">
            <button
        class="btn btn-outline-info btn-sm"
        (click)="showDetails = !showDetails"
      >
        Detalles
      </button>
    </div>
    <sl-detalle-request
      *ngIf="showDetails"
      [request]="request"
      [building]="building"
    ></sl-detalle-request>
  </div>
</div>
